body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Başlangıçta sadece h1 görünür */
#mobile-start {
  display: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 20px auto;
}

/* Mobilde "Tap to Start" mesajını göster */
@media (max-width: 768px) {
  #level-title {
    display: none; /* Mobilde  gizlensin */
  }

  /* Başlangıç için dokunma mesajı */
  #mobile-start {
    display: block; /* Mobilde "Tap to Start" mesajını göster */
  }

  /* GAME OVER mesajı mobilde görünür olacak */
  #mobile-start.game-over {
    display: block; 
  }
}

@media (min-width: 769px) {
  #mobile-start {
    display: none;  /* Webde "Tap to Start" gizlensin */
  }
}
