body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  border: 10px solid black;
  border-radius: 20%;
}

/* Buton renkleri */
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Başlangıçta sadece h1 görünür */
#mobile-start {
  display: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 20px auto;
}

/* Telefonlar için (480px ve daha küçük) */
@media (max-width: 480px) {
  #level-title {
    display: none; /* Mobilde gizlensin */
  }

  /* Başlangıç için dokunma mesajı */
  #mobile-start {
    display: block; /* Mobilde "Tap to Start" mesajını göster */
  }

  /* GAME OVER mesajı mobilde görünür olacak */
  #mobile-start.game-over {
    display: block; 
  }

  .container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px; 
  }

  .btn {
    width: 20vw; 
    margin: 5px 0;
    border-radius: 20%;
  }
}


@media (max-width: 768px) {
  #level-title {
    display: none; /* Mobilde gizlensin */
  }

  /* Başlangıç için dokunma mesajı */
  #mobile-start {
    display: block; /* Mobilde "Tap to Start" mesajını göster */
  }

  /* GAME OVER mesajı mobilde görünür olacak */
  #mobile-start.game-over {
    display: block; 
  }
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  .btn {
    width: 30vw; /* Genişlik, ekranın %30'u olarak ayarlandı */
    height: 30vw; /* Yükseklik ve genişlik eşit olacak şekilde kare olacak */
    margin: 10px 0;
    border-radius: 20%;
  }
}

/* Webde (768px ve daha büyük) */
@media (min-width: 769px) {
  #mobile-start {
    display: none;  /* Webde "Tap to Start" gizlensin */
  }

  /* Webde level-title mesajını göstermek */
  #level-title {
    display: block;
  }

  /* Butonları geniş ekran için hizala */
  .container {
    width: 50%;
    margin: auto;
    display: block;
  }

  .btn {
    width: 150px; 
    height: 150px; 
    margin: 25px;
    border-radius: 20%;
  }
}
